XML-magasin/Client.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ClientList">
    
    <xsd:element name="Client" type="clientinfo"/>
    <xsd:attribute name="idClt" type="xsd:string"/>
	<xsd:complexType name="clientinfo">
 		 <xsd:sequence>
    		<xsd:element name="Nom" type="xsd:string"/>
   			<xsd:element name="Prenom" type="xsd:string"/>
   			<xsd:element name="Adresse" type="xsd:string"/>
		 </xsd:sequence>
	</xsd:complexType> 
	
</xsd:schema>
