XML-magasin/Produit.dtd

<!ELEMENT  Magasin  (Produit*) >
<!ELEMENT  Produit  (Nom, Categorie, Stockage, Prix) >

<!ELEMENT  Nom  (#PCDATA) >
<!ELEMENT  Categorie  (#PCDATA) >
<!ELEMENT  Stockage  (Quantite) >
<!ELEMENT  Prix  (#PCDATA) >
<!ELEMENT  Quantite  (#PCDATA) >

<!ATTLIST Produit reference CDATA  #REQUIRED>
<!ATTLIST Stockage emplacement (B1|B2|B3|B4|B5|B6|B7|B8)  #REQUIRED>
<!ATTLIST Prix curr CDATA  #REQUIRED>
